body{
    background-color:blue;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz{
    color: black;
    text-align: center;
    height: 70%;
    width: 400px;
    background-color: cyan;
    border-radius: 25px;
}
